@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Kaisei+Decol&display=swap');

dd footer{
  font-family: 'Inter', sans-serif;
}

th {
  color: #fff
}

#titulos {
  background-color: #333A40;
}
