@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');

h1 {
  font-family: 'Kaisei Decol', serif;
  font-weight: normal;
}

img {
  padding-left: 1%;
  width: 60%;
}


footer {
  padding: 5rem;
}


